.questioncontainer {
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-width: 88.8%;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
}
.questioncontainer .img-wrapper {
	margin: 0 auto;
	width: 76px;
	height: 76px;
}
.question-image-logo {
	width: 100%;
	height: 100%;
}
.questionheader h4 {
	font-family: "poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	/* identical to box height */

	letter-spacing: 0.01em;

	color: #000000;
}
.questionheader {
	padding-bottom: 10px;
}
.questions {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.questions > div {
	display: flex;
	gap: 5px;
	flex-direction: column;
}
.questions p {
	font-family: poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;

	color: #29252e;
}

.questioncontainer button {
	margin: auto 0 40px;
	justify-self: flex-end;
	align-items: flex-end;
	width: 100%;
	background: linear-gradient(91.34deg, #4b164c 4.28%, #730075 102.07%);
	border-radius: 10px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	padding: 14px;
	color: #ffffff;
}

.questioncontainer .tab {
	position: absolute;
	width: 134px;
	height: 5px;
	left: calc(50% - 134px / 2 - 0.5px);
	bottom: 8px;

	/* Main/Black */

	background: #edecee;
	border-radius: 100px;
}
